body {  
    font-family: Arial, sans-serif;  
    background-color: #4a62a3;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 100vh;  
    margin: 0;  
}  

.container {  
    text-align: center;  
    border: 1px solid #171257;  
    padding: 20px;  
    background: rgb(39, 24, 107);  
    border-radius: 10px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}  

input {  
    padding: 10px;  
    width: 80%;  
    margin-bottom: 10px;  
}  

button {  
    padding: 10px 15px;  
    margin: 5px;  
}